[submodule "external/curl"]
    path = external/curl
    url = https://github.com/curl/curl.git
[submodule "external/sha2"]
	path = external/sha2
	url = https://github.com/aws-samples/sha2-with-c-intrinsic
